<header
  data-access_token="<%= user_access_token %>"
  data-auth_url="<%= Lovers.facebook.auth_url %>"
>
  <img alt="" src="http://graph.facebook.com/<%= Lovers.facebook.id %>/picture" width="50" height="50">
  <h1>Welcome, Lover!</h1>
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#requests">Requests</a></li>
    <li><a href="#lovers">Lovers</a></li>
  </ul>
</header>

<section id="home">
</section>

<section id="gifts">
<p><a id="buy-gift">Buy Gift</a></p>
</section>

<section id="requests">
  <ul id="requests-pending">
    <li style="display:none">
      <span class="request-name"></span>
      <span class="request-type"></span>
      <a class="request-accept" href="#">Accept</a>
      <a class="request-ignore" href="#">Ignore</a>
    </li>
  </ul>
</section>

<section id="lovers">
  <select id="lover-type">
    <option value="<%= rel_code(0) %>">In a relationship</option>
    <option value="<%= rel_code(1) %>">Engaged</option>
    <option value="<%= rel_code(2) %>">Married</option>
    <option value="<%= rel_code(3) %>">It's complicated</option>
    <option value="<%= rel_code(4) %>">In an open relationship</option>
  </select>
  <a id="lover-add" href="#">Add</a>
</section>
